CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
IrrlichtMtConfig.cmake
IrrlichtMtConfigVersion.cmake
IrrlichtMtTargets.cmake
Makefile
libs/*
*.so*
*.a
*.exe
*.dll
bin/Linux
scripts/gl2ext.h
scripts/glcorearb.h
scripts/glext.h
*.vcxproj*
*.dir/
*.sln
*visualstudio/
.vscode/c_cpp_properties.json
.vscode/settings.json
cmake/tinygltfTargets.cmake
cmake/tinygltfConfig.cmake
cmake/tinygltfConfigVersion.cmake
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-a8534444bf9bfc1c5bec.json
build/.cmake/api/v1/reply/cmakeFiles-v1-b440253b8d23f6e0cde2.json
build/.cmake/api/v1/reply/codemodel-v2-694586c367cfddb80f17.json
build/.cmake/api/v1/reply/directory-.-Debug-befbfb0808a7f396d94e.json
build/.cmake/api/v1/reply/directory-source.Irrlicht-Debug-f4cae338bf56cd50bd56.json
build/.cmake/api/v1/reply/directory-source.Irrlicht.tests-Debug-11c92d4e50b67fe39296.json
build/.cmake/api/v1/reply/directory-source.lib.catch2-Debug-1dda4fa07cec85d16fff.json
build/.cmake/api/v1/reply/directory-source.lib.tinygltf-Debug-01903ccc6a9eb78dacbe.json
build/.cmake/api/v1/reply/index-2023-01-29T02-54-06-0716.json
build/.cmake/api/v1/reply/target-IrrlichtMt-Debug-099c6803297a626f1a90.json
build/.cmake/api/v1/reply/target-tests-Debug-b9d67bf3fba672ad12e8.json
build/.cmake/api/v1/reply/toolchains-v1-1038dacd28da77425680.json
build/bin/Linux/tests
build/cmake/tinygltfConfig.cmake
build/cmake/tinygltfConfigVersion.cmake
build/cmake/tinygltfTargets.cmake
build/compile_commands.json
build/.cmake/api/v1/reply/cache-v2-cd5cf2a1a3f3a7169cf8.json
build/.cmake/api/v1/reply/cmakeFiles-v1-cf5f84b8c6b9ff9ff573.json
build/.cmake/api/v1/reply/index-2023-01-29T11-21-04-0079.json
build/.cmake/api/v1/reply/index-2023-01-29T11-53-07-0716.json
build/.cmake/api/v1/reply/index-2023-01-29T21-19-20-0153.json
